* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 7fr;
}

.header {
  grid-area: 1 / 2 / 1 / span 2;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.search {
  border: 2px solid green;
}

.login-info {
  border: 2px solid blue;
}

.user-info {
  border: 2px solid red;
}

.buttons {
  border: 2px solid orange;
}

.sidebar {
  background-color: #1992d4;
  grid-area: 1 / 1 / span 2 / 1;
}

.main-content {
  grid-area: 2 / 2 / 2 / 2;
  background-color: #e2e8f0;
}
